<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maestro Art gallery</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}login.html{% endblock %}

    {% load staticfiles %}
    {% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

    {% block content %}
    <section>
        <h1 style="color:#ed7d7d">{{ title }}</h1>
        <form action="." method="post">{% csrf_token %}
            {% if form.errors %}
            <p class="errornote">Wrong! Please correct the error(s) below.</p>
            {% endif %}

            <p>Please enter your old passoword for security`s sake, and then enter your new password twice.</p>
            <fieldset class="aliged">
                <div class="form-row">
                    <h2>{{form.old_password.label_tag}}</h2>{{form.old_password}}
                </div>
                <div class="form-row">
                    <h2>{{ form.new_password1.label_tag}}</h2>{{form.new_password1}}
                </div>
                <div class="form-row">
                    <h2>{{form.new_password2.label_tag}}</h2>{{form.new_password2}}
                </div>
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="Password Change"/>
            </div>
            <script type="text/javascript">
                document.getElementById("id_old_password").focus();
            </script>
        </form>
    </section>
    {% endblock  %}
</body>
</html>